{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Twitter Gender</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/apprentissage">Apprentissage</a></li>
      <li><a href="/dataset">Récolte dataset</a></li>
      <li><a href="/unique">Prédiction unique</a></li>
      <li class="active"><a href="/bot">Prédiction multiple</a></li>
    </ul>
  </div>
</nav>
  <div class="container">
  <h3>Collecte terminée !</h3>
  <p>J'espère que vous avez apprecié. Vos résultats sont affichés en bas de l'écran</p>
<hr>
<form action="/resultbot" method="post" class="form" role="form">

 <d1>
  <!--{{ wtf.form_field(form.essay_question, class='form-control', placeholder='Write down your thoughts here...') }}
  {{ wtf.form_field(form.email_addr, class='form-control', placeholder='your@email2.com') }}
  {{ wtf.form_field(form.email_addr2, class='form-control', placeholder='your@email2.com') }}-->
  {{ wtf.form_field(form.language, class='btn-primary form-control' ) }}
  {{ wtf.form_field(form.algo, class='btn-primary form-control' ) }} 
  {{ wtf.form_field(form.time, class='form-control', placeholder='Durée') }}
  <div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong> {{precision}} </strong>
</div>
  
 </d1>
 <p><input type=submit class='btn btn-warning btn-block'>
</form>
<hr>
</div>
{% endblock %}
