{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Twitter Gender</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/apprentissage">Apprentissage</a></li>
      <li><a href="/dataset">Récolte dataset</a></li>
      <li class="active"><a href="/unique">Prédiction unique</a></li>
      <li><a href="/bot">Prédiction multiple</a></li>
    </ul>
  </div>
</nav>
  <div class="container">
  <h3>Veuillez définir la langue du tweet, l'algorithme souhaité, ainsi que le tweet.</h3>
  <p>La prédiction du genre se fera en quelques instants.</p>
<hr>
<form action="/unique_result" method="post" class="form" role="form">
  {{ form.csrf_token() }}
 <d1>
  <!--{{ wtf.form_field(form.essay_question, class='form-control', placeholder='Write down your thoughts here...') }}
  {{ wtf.form_field(form.email_addr, class='form-control', placeholder='your@email2.com') }}
  {{ wtf.form_field(form.email_addr2, class='form-control', placeholder='your@email2.com') }}-->
  {{ wtf.form_field(form.language, class='btn-primary form-control' ) }}
  {{ wtf.form_field(form.algo, class='btn-primary form-control' ) }} 
  <h5><strong>Ou importez votre propre model</strong></h5>
   <dl>
		<p>
			<input type="file" name="file" class="form-control-file" autocomplete="off" >
		</p>
    </dl>
  {{ wtf.form_field(form.tweet, class='form-control', placeholder='tweet') }}
 
  
 </d1>
 <p><input type=submit class='btn btn-warning btn-block'>
</form>
<hr>
</div>
{% endblock %}
